@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.Box-dialpad-cont {
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: rgb(199, 166, 56);
  border: 20px solid rgba(80, 80, 40, 0.75);
  border-top-width: 5px;
  border-top-color: rgba(80, 80, 40, 0.35);
  border-bottom-color: rgb(80, 80, 40);
  border-left-width: 10px;
  border-right-width: 10px;
  box-sizing: border-box;
}

td {
  width: 60px;
  height: 60px;
  background-color: rgb(108, 32, 32);
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.75);
  color: rgb(192, 167, 167);
  user-select: none;
  border: 10px solid rgb(65, 27, 27);
  border-top-color: rgb(119, 51, 51);
  border-bottom-color: rgb(80, 32, 32);
  box-sizing: border-box;
  border-top-width: 5px;
  border-bottom-width: 15px;
}

#Box-dialpad-empty {
  visibility: hidden;
}

.Box-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(80, 80, 40);
  background-color: rgb(176, 145, 42);
  height: 500px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 40px 0 rgb(80, 80, 40);
}

.Box-display {
  margin-bottom: 25px;
  width: 220px;
  height: 80px;
  box-sizing: border-box;
  border: 10px solid rgb(80, 80, 40);
  border-top-width: 20px;
  border-top-color: rgba(0, 0, 0, 0.15);
  border-bottom-width: 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 10px;
  font-family: 'Press Start 2P', cursive;
  text-indent: 10px;
  background-color: rgb(29, 51, 29);
  color: rgb(105, 206, 105);
  text-shadow: 0 0 40px rgba(73, 180, 73, 0.9);
  border-bottom-color: rgb(146, 146, 76);
  user-select: none;
}
