html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mobile-cont {
  max-width: 500px;
  height: calc(100vh - 70px);
  width: 100vw;
  padding: 20px;
  padding-bottom: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flash {
  animation: flashing infinite 5s linear;
  transition: all 1s linear;
}

@keyframes flashing {
  0% {
    background-color: red;
  }
  16% {
    background-color: orange;
  }
  32% {
    background-color: yellow;
  }
  48% {
    background-color: green;
  }
  56% {
    background-color: blue;
  }
  72% {
    background-color: indigo;
  }
  88% {
    background-color: violet;
  }
  100% {
    background-color: red;
  }
}
