@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.TimeMachine-dialpad-cont {
  padding-bottom: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: rgb(199, 166, 56);
  border: 20px solid rgba(80, 80, 40, 0.75);
  border-top-width: 5px;
  border-top-color: rgba(80, 80, 40, 0.35);
  border-bottom-color: rgb(80, 80, 40);
  border-left-width: 10px;
  border-right-width: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 300px;
  position: relative;
}

.TimeMachine-press {
  transform: translateY(3px) scaleY(0.97);
}

.TimeMachine-dialpad {
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.TimeMachine-dialpad-btn {
  width: 60px;
  height: 60px;
  background-color: rgb(108, 32, 32);
  font-size: 30px;
  border-radius: 5px;
  box-shadow: 0 5px 0px rgba(0, 0, 0, 0.75);
  color: rgb(192, 167, 167);
  user-select: none;
  border: 10px solid rgb(65, 27, 27);
  border-top-color: rgb(119, 51, 51);
  border-bottom-color: rgb(80, 32, 32);
  box-sizing: border-box;
  border-top-width: 5px;
  border-bottom-width: 15px;
  margin: 1px;
  transition: all 0.01s linear;
}

#TimeMachine-btn-0 {
  /* nudge 0 key a bit to the right for center */
  margin-left: 4px;
}

#TimeMachine-dialpad-empty {
  visibility: hidden;
}

.TimeMachine-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(80, 80, 40);
  background-color: rgb(176, 145, 42);
  height: 500px;
  width: 280px;
  border-radius: 10px;
  box-shadow: 0 40px 0 rgb(80, 80, 40);
}

.TimeMachine-rivet1,
.TimeMachine-rivet2,
.TimeMachine-rivet3,
.TimeMachine-rivet4 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  border: 0 solid rgba(0, 0, 0, 0.5);
  border-top-width: 2px;
  border-top-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.TimeMachine-rivet1 {
  top: 5px;
  left: 5px;
}

.TimeMachine-rivet2 {
  top: 5px;
  right: 5px;
}

.TimeMachine-rivet3 {
  bottom: 5px;
  left: 5px;
}

.TimeMachine-rivet4 {
  bottom: 5px;
  right: 5px;
}

.TimeMachine-display {
  margin-bottom: 10px;
  width: 220px;
  height: 80px;
  box-sizing: border-box;
  border: 10px solid rgb(80, 80, 40);
  border-top-width: 20px;
  border-top-color: rgba(0, 0, 0, 0.15);
  border-bottom-width: 5px;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  letter-spacing: 10px;
  font-family: 'Press Start 2P', cursive;
  text-indent: 14px;
  background-color: rgb(29, 51, 29);
  color: rgb(105, 206, 105);
  text-shadow: 0 0 40px rgba(73, 180, 73, 0.9);
  border-bottom-color: rgb(146, 146, 76);
  user-select: none;
}

.display-on {
  border-top-color: rgb(41, 75, 41);
  border-bottom-color: rgb(108, 141, 108);
  border-right-color: rgb(87, 122, 87);
  border-left-color: rgb(87, 122, 87);
  background-color: rgb(38, 67, 38);
  animation: flicker infinite 4s linear;
  transition: all 1s linear;
}

@keyframes flicker {
  4% {
    border-top-color: rgb(41, 75, 41);
    border-bottom-color: rgb(108, 141, 108);
    border-right-color: rgb(87, 122, 87);
    border-left-color: rgb(87, 122, 87);
    background-color: rgb(38, 67, 38);
    color: rgb(105, 206, 105);
  }
  5% {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgb(146, 146, 76);
    border-right-color: rgb(80, 80, 40);
    border-left-color: rgb(80, 80, 40);
    background-color: rgb(29, 51, 29);
    color: rgb(49, 94, 49);
  }
  6% {
    border-top-color: rgb(41, 75, 41);
    border-bottom-color: rgb(108, 141, 108);
    border-right-color: rgb(87, 122, 87);
    border-left-color: rgb(87, 122, 87);
    background-color: rgb(38, 67, 38);
    color: rgb(105, 206, 105);
  }
  7% {
    border-top-color: rgba(0, 0, 0, 0.15);
    border-bottom-color: rgb(146, 146, 76);
    border-right-color: rgb(80, 80, 40);
    border-left-color: rgb(80, 80, 40);
    background-color: rgb(29, 51, 29);
    color: rgb(49, 94, 49);
  }
  10% {
    border-top-color: rgb(41, 75, 41);
    border-bottom-color: rgb(108, 141, 108);
    border-right-color: rgb(87, 122, 87);
    border-left-color: rgb(87, 122, 87);
    background-color: rgb(38, 67, 38);
    color: rgb(105, 206, 105);
  }
}

.TimeMachine-power-cont {
  border: 10px solid rgb(51, 45, 29);
  box-sizing: border-box;
  border-radius: 55px;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 25px;
  bottom: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-top-width: 2px;
  border-left-width: 5px;
  border-right-width: 5px;
  background-color: rgba(0, 0, 0, 0.75);
}

.TimeMachine-power {
  background-color: rgb(158, 125, 125);
  box-sizing: border-box;
  border-radius: 47px;
  width: 45px;
  height: 40px;
  box-shadow: 0 5px 0 rgb(104, 82, 82);
  transform: translateY(-5px);
  transition: all 0.1s linear;
}

.power-on {
  background-color: rgb(255, 45, 45);
  box-shadow: 0 5px 0 rgb(182, 47, 47);
  transform: translateY(0px);
}

.TimeMachine-github {
  position: absolute;
  right: 28px;
  bottom: 18px;
}

#github-icon {
  width: 52px;
  height: auto;
  opacity: 0.25;
}
